[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]
pytest = "*"
pytest-pythonpath = "*"

[requires]
python_version = "3.7"
